%h1 {{{header_main}}}
%p Necrohost is a set of tools for testing hosts that misbehave. Here you will find the following
%ul
  %li
    %a{:href => "http://unresolvable.necrohost.com"} unresolvable.necrohost.com
    -
    A domain that I solemnly promise I will never add a DNS entry for (so long as I own the domain)
  %li
    %a{:href => "http://unreachable.necrohost.com"} unreachable.necrohost.com
    - 
    A domain that I will always point to an unreachable IP (currently resolves to 6.6.6.6)
  %li
    %a{:href => "http://www.necrohost.com/sleep/5"} www.necrohost.com/sleep/5
    -
    A domain that will not return a response for a given interval of seconds. (Max is 60 seconds)
    
