%h1 {{{header_main}}}
%p Necrohost is a set of tools for testing hosts that misbehave. Here you will find the following

%h3 Unresolvable
%p This domain can be used in cases where you need a domain that will not resolve to any address
%b 
  link: 
  %a{:href => "http://unresolvable.necrohost.com"} unresolvable.necrohost.com

%h3 Unreachable
%p This domain points to 6.6.6.6, the intention is that this domain will point to an unreachable IP. This should be good for testing unreachable hosts.
%b 
  link: 
  %a{:href => "http://unreachable.necrohost.com"} unreachable.necrohost.com

%h3 Sleep
%p This domain will not return a response given the number of seconds passed in the URL. The maximum is currently 60 seconds.
%b 
  link: 
  %a{:href => "http://www.necrohost.com/sleep/5"} http://www.necrohost.com/sleep/5

%h3 Status Codes
%p This path will return the appropriate status code if it is supported
%b
  link:
  %a{:href => "http://www.necrohost.com/status/404"} http://www.necrohost.com/status/404
  %br/
  supported_codes:
  %ul
  = list_of %w(200 301 302 404 500) do |code|
    %a{:href => "http://www.necrohost.com/status/#{code}"}= code
